/* @keyframes stylergb {
    0% {
        border: 1px solid rgb(219, 9, 9);
        box-shadow: 5px 5px 5px rgb(241, 19, 19);
    }

    25% {
        border: 1px solid rgb(221, 245, 7);
        box-shadow: 5px 5px 5px rgb(221, 245, 7);
    }

    50% {
        border: 1px solid rgb(19, 226, 71);
        box-shadow: 5px 5px 5px rgb(49, 240, 24);
    }

    75% {
        border: 1px solid rgb(14, 102, 235);
        box-shadow: 5px 5px 5px rgb(17, 104, 235);
    }

    100% {
        border: 1px solid rgb(230, 18, 230);
        box-shadow: 5px 5px 5px rgb(162, 17, 230);
    }

} */
