@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@1,400;1,700&family=Outfit:wght@400;600;700&family=Source+Serif+Pro:wght@300;400;700&display=swap');

body {
    height: 100%;
    width: 100%;
    background: url(../images/Animação.gif);
    font-family: 'Source Serif Pro', serif;
    animation: stylergb 1s infinite;
}

.heading-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 30px;
    min-height: 75px;
}

.introduce {
    height: 350px;
    margin-left: 100px;   
}

.introduce .title-name {
    font-size: 80px;
    color: var(--cor-text-padrao);
}

.introduce .title-text {
    font-size: 24px;
    color: var(--cor-text-padrao);
}

.about {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
}

.about .information {
    height: 550px;
    width: 600px;
    margin: 20px;
}

.about h2 {
    padding: 15px;
    font-size: 36px;
    color: var(--cor-text-padrao);
    animation: stylergb 1s infinite;
    text-align: center;
    border-radius: 15px 15px 0 0 ;
}

.about p {
    padding: 25px;
    font-size: 23px;
    line-height: 35px;
    text-align: justify;
    color: var(--cor-text-padrao);
    border-radius: 0 0 15px 15px ;
    animation: stylergb 1s infinite;
}

.about .photo {
    height: 100%;
    width: 500px;
    margin-right: 70px;
}

.title-hero{
    color: var(--cor-text-padrao);
    text-align: center;
    font-size: 30px;
    margin: 75px 0 70px;
}
.painting-hero{
    display: grid;
    grid-template-columns:repeat(3, 0fr);
    grid-template-rows: 1fr;
    justify-content: center;
    flex-wrap: wrap;
    margin: 25px;
}

.painting-hero .hero{
    height: 320px;
    width: 300px;
    border-radius: 15px;
    animation: stylergb 3s infinite;
    text-align: center;
    padding: 15px;
    margin: 35px ;
}

.painting-hero .hero a .fab{
    font-size: 55px;
    color: var(--cor-text-padrao);
}
.painting-hero .hero h3{
    font-size: 25px;
    margin: 15px;
    color: var(--cor-text-padrao);
}

.painting-hero .hero p{
    font-size: 18px;
    color: var(--cor-text-padrao);
}

.list-projects .quadro-projects{
    display:grid;
    grid-template-columns: repeat(2, 0fr);
    grid-template-rows: 1fr;
    justify-content: center;
}

.list-projects h2{
    color: var(--cor-text-padrao);
    text-align: center;
    font-size: 30px;
}

.list-projects .quadro-projects .projects{
    margin: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: 0.3s ease;
}

 .quadro-projects .projects:hover,
.list-projects .quadro-projects .projects:hover .projects-information{
    opacity: 0.8;
} 

.list-projects .quadro-projects .projects a img{
    height: 320px;
    width: 400px;
    border-radius: 15px;
}
.list-projects .quadro-projects .projects h3{
    text-align: center;
    font-size: 24px;

}
.list-projects .quadro-projects .projects .projects-information{
    font-size: 18px;
    text-align: center;
    position: absolute;
    background-color:#0c0703;
    color: var(--cor-text-padrao);
    opacity: 0;
    height: 320px;
    max-width: 100%;
    top: 0;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.list-projects .quadro-projects .projects .projects-information p{
    font-size: 20px;
    margin: 50px 0;
}


.contacts{
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    width: 100%;
    height: 500px;
    background-image: url(../images/jhones-sem-fundo01.png);
    background-repeat: no-repeat;
    background-position: bottom left;
}

.botao-curriculo{   
    border-radius: 15px;
    height: 60px;
    padding: 15px;
    animation: stylergb 1s infinite;
    margin-bottom: 55px;
}
.botao-curriculo a:hover, 
.social-network a:hover{
    color: var(--cor-text-secudaria);
} 

.social-network a{
    padding: 25px;
    font-size: 50px;

}
